*.jl.cov
*.jl.*.cov
*.jl.mem
*.bk.jl
*.swp
*.vtk
*.vtu
*.dat
*.table
*.book
*.log
*.pdf
*.svg
*.step
*.geo_unrolled
*.ipynb_checkpoints
sandbox
**/vault
**/archive
**/output
**/.vscode
docs/build/
Manifest.toml
